.card {
    height: 300px;
    width: 200px;
    display: inline-block;
    margin: 20px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;

}
.card:hover {
    box-shadow: 4px 4px 13px gold;
    transition: 1s ;

}

.desc {
    padding: 0px 0px 0px 2px ;
}
img {
    width: 100%;
    height: 60%;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
}
